@charset "utf-8";
body,td,th 
{	font-family: arial;
	font-size: 14px;}
body 
{	background-color: #ffe4e1;
	margin: 0px;	}
#head1 
{font-family: georgian;
	color:white; padding-top:20px;}

#head1 h1 
{ font-size:50px;
	text-transform: capitalize; padding: 0; margin: 0;}


#header 
{ background-color: #ff7f24; 
	color: white;margin: 0;height: 7em;padding: 2em;}

#homelink 
{ margin: 1em -60px;
	padding-top: 4px;padding-bottom: 4px;padding-left: 350px;list-style-type: none;
	font-variant:small-caps;background-color: #c71585;border-top:1px solid white;
	font-size:16px;}

#header li 
{ margin: auto;
	padding: 0 40px;display: inline;font-weight: bold;}
	
#header a:link {color:white; text-decoration:none;}     
#header a:visited {color:white;} 
#header a:hover {color:#c71585; background-color:white; } 
#header a:active {color:black;}

#container1 
{	margin: auto;
	padding:2.5em;
	width: 60%;
	}

h2 {color: #333;	padding:5px;
	border-bottom:1px solid ;	text-transform:uppercase;}

p {	margin: 1em;}

img { margin-left:15em; padding: 1em 1em 1em 0}


#footer 
{ background-color: #ff7f24; color: white; 	margin: 0; 	height: 5em;
padding-top: 1em; 	border-top:1em solid #c71585; 	clear: both; 	text-align:center;}


	/* end hide */

	
	
